.home-button {
  background: darkmagenta;
  font-family: Rubik, Mulish, sans-serif;
}

.redirection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: calc(100dvh - 64px);
}

h2, p {
  text-align: center;
  margin: 0;
}
