<div class="donation-form-container">
  <form class="donation-form" [formGroup]="donationForm" (ngSubmit)="onSubmit()">
    <mat-form-field id="donation-donor-form-field" appearance="outline" color="primary">
      <mat-label>{{ "Donate-FirstInput" | translate}}</mat-label>
      <input formControlName="id" type="number" min="1" [max]="donors.length" matInput placeholder = "{{ 'Donate-FirstPH' | translate }}" class="donation-form-input"/>
      <mat-hint class="donation-form-hint">{{ "Donate-FirstHint" | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field id="donation-campaign-form-field" appearance="outline">
      <mat-label>{{ "Donate-SecondInput" | translate }}</mat-label>
      <mat-select formControlName="campaign">
        <mat-option class="donation-form-option" [value]="campaign.id" *ngFor="let campaign of campaigns">"{{campaign.name}}", en {{campaign.location}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="donation-clothing-form-field" appearance="outline">
      <mat-label>{{ "Donate-ThirdInput" | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option class="donation-form-option" [value]="item" *ngFor="let item of selectedItems">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="donation-amount-form-field" appearance="outline" color="primary">
      <mat-label>{{ "Donate-FourthInput" | translate }}</mat-label>
      <input formControlName="quantity" type="number" min="1" matInput placeholder = "{{ 'Donate-SecondPH' | translate }}"/>
    </mat-form-field>
    <mat-form-field id="donation-condition-form-field" appearance="outline">
      <mat-label>{{ "Donate-FifthInput" | translate }}</mat-label>
      <mat-select formControlName="condition">
        <mat-option class="donation-form-option" value="New">New</mat-option>
        <mat-option class="donation-form-option" value="Used">Used</mat-option>
      </mat-select>
      <mat-hint class="donation-form-hint">{{ "Donate-SecondHint" | translate}}</mat-hint>
    </mat-form-field>
    <button mat-button type="submit" >{{ "Donate-Button" | translate }}</button>
  </form>
</div>
